/**
 * @file toolbar.theme.css
 */
@import 'config';

$toolbar-tray-bg-color: #2D2E30;
$toolbar-tray-link-color: #FFFFFF;

$toolbar-divider-color: rgba(#FFFFFF, .1);

$toolbar-bar-bg-color: $toolbar-tray-bg-color;
$toolbar-bar-link-color: $toolbar-tray-link-color;

.toolbar .toolbar-bar {
    background-color: $toolbar-bar-bg-color;
    color: $toolbar-bar-link-color;

    .toolbar-tab {
        > .toolbar-item {
            &:hover,
            &:focus {
                background-color: darken($toolbar-bar-bg-color, 5%);
            }

            &.is-active {
                background-color: darken($toolbar-bar-bg-color, 7%);

                &:hover,
                &:focus {
                    background-color: darken($toolbar-bar-bg-color, 7%);
                }
            }
        }
    }
}

/**
 * Toolbar tray.
 */
.toolbar .toolbar-tray {
    background-color: $toolbar-tray-bg-color;

    a {
        color: $toolbar-tray-link-color !important;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($toolbar-tray-bg-color, 15%);
        }
    }
}

.toolbar .toolbar-menu {
    background-color: $toolbar-tray-bg-color !important;
    border-top: 1px solid $toolbar-divider-color;

    > li {
        border-bottom: 1px solid $toolbar-divider-color;
    }
}

.toolbar .toolbar-icon.toolbar-handle {
    color: $toolbar-tray-link-color;
}

.toolbar-horizontal {
    .toolbar {
        .toolbar-tray {
            .menu-item {
                border: 0;
                border-bottom: 1px solid rgba($toolbar-tray-link-color, .05);
            }
        }
    }
}
